.inputborder {
  /* border-style: outset dotted; */
  border-style: dotted;
}
@media only screen and (max-width: 767px) {
  #element-to-hide {
    display: none;
  }
}
/* @media only screen and (max-width: 767px) {
  #element-item {
    text-align: center;
    margin-right: 35px;
  }
} */
/* @media only screen and (max-width: 767px) {
  #element-to-hide-large {
    display: none;
  }
} */
